<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1025763243183-evdhgmcmokv5h5nm8sv6oal7t76he4kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025763243183-evdhgmcmokv5h5nm8sv6oal7t76he4kh</string>
	<key>API_KEY</key>
	<string>AIzaSyCSl_Zk7PT8SucJj7OxNmQ5zIyUUkQq5J0</string>
	<key>GCM_SENDER_ID</key>
	<string>1025763243183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onebite</string>
	<key>PROJECT_ID</key>
	<string>onebite-cdaee</string>
	<key>STORAGE_BUCKET</key>
	<string>onebite-cdaee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025763243183:ios:2578d6c7d45a6e42</string>
	<key>DATABASE_URL</key>
	<string>https://onebite-cdaee.firebaseio.com</string>
</dict>
</plist>